<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lemongrab</title>
    <link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript"
      src="{{ url_for('static', filename='js/libs/jquery.js') }}" defer>
    </script>
  </head>
  <body>
    <header id="title">
      <h1>Lemongrab</h1>
      <p>An acceptable ToDo list app</p>
    </header>
    <section id="task-prompt">
      <h2>What is there to do?</h2>
      <input id="new-task" type="text">
    </section>
    <section id="task-list"></section>
  </body>
</html>

