<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lemongrab</title>
    <link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript"
      src="{{ url_for('static', filename='js/libs/jquery.js') }}" defer>
    </script>
    <script type="text/javascript"
      src="{{ url_for('static', filename='js/todo.js') }}" defer>
    </script>
  </head>
  <body>
    <header id="title">
      <h1>Lemongrab</h1>
      <p>An acceptable ToDo list app</p>
    </header>

    <div class="task-area" id="input-task">
      <h3>Add a New Task</h3>
      <form id="new-task-form">
        <input type="text" placeholder="Task" />
        <input type="button" value="Add Task" onclick="TODO.addTask();" />
      </form>
    </div>

    <div id="task-lists">
      <div class="task-area" id="incomplete">
        <h3>To Do</h3>
      </div>
 
      <div class="task-area" id="complete">
        <h3>Completed</h3>
      </div>
    </div>
 
  </body>
</html>
