<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lemongrab</title>
    <link rel=stylesheet type=text/css
      href="<= url_for('static', filename='css/style.css') =>">
    <script type="text/javascript"
      src="<= url_for('static', filename='js/libs/jquery.js') =>" defer>
    </script>
    <script type="text/javascript"
      src="<= url_for('static', filename='js/libs/handlebars.js') =>" defer>
    </script>
    <script type="text/javascript"
      src="<= url_for('static', filename='js/todo.js') =>" defer>
    </script>
    <script type="text/javascript"
      src="<= url_for('static', filename='js/view/webview.js') =>" defer>
    </script>
    <script type="text/javascript"
      src="<= url_for('static', filename='js/controller/controller.js') =>" defer>
    </script>
  </head>
  <body>
    <header id="title">
      <h1>Lemongrab</h1>
      <p>An acceptable ToDo list app</p>
    </header>

    <div class="task-area" id="input-task">
      <h3>Add a New Task</h3>
      <form id="new-task-form">
        <input type="text" placeholder="Task">
        <input type="submit" value="Add Task">
      </form>
    </div>

    <div class="task-area" id="task-list">
      <h3>To Do</h3>
    </div>

    <!-- Template for tasks to display in the list above -->
    <script id="task-template" type="text/x-handlebars-template">
      <div class="task" id="task-{{id}}">
        <div class="task-body">{{description}}</div>
        <div class="task-incomplete">Not completed</div>
        <div class="task-control">
          <input type="button" id="toggle" value="Complete">
          <input type="button" id="delete" value="Remove">
        </div>
      </div>
    </script>

  </body>
</html>
